Source: madx
Priority: extra
Maintainer: Thomas Gläßle <t_glaessle@gmx.de>
Build-Depends: debhelper (>=9),
               cmake,
               libblas-dev,
               liblapack-dev,
               libx11-dev,
               gfortran,
               lib32z1-dev
Standards-Version: 3.9.5
Section: non-free/science
Homepage: http://madx.web.cern.ch/madx/
Vcs-Git: git://github.com/hibtc/madx-debpkg
Vcs-Browser: https://github.com/hibtc/madx-debpkg

Package: libmadx-dev
Section: non-free/science
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Methodical Accelerator Design 
 MAD is a project with a long history, aiming to be at the forefront of
 computational physics in the field of particle accelerator design and
 simulation. The MAD scripting language is de facto the standard to describe
 particle accelerators, simulate beam dynamics and optimize beam optics.
 MAD-X is the successor of MAD-8 and was first released in June, 2002. It
 offers most of the MAD-8 functionalities, with some additions, corrections,
 and extensions. The most important of these extensions is the Polymorphic
 Tracking Code (PTC) of E. Forest.
