#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Skip tests:
export DEB_BUILD_OPTIONS=nocheck

FLAGS = -DCMAKE_C_COMPILER=gcc \
        -DCMAKE_C_FLAGS="-fvisibility=hidden" \
        -DCMAKE_Fortran_COMPILER=gfortran \
        -DMADX_STATIC=OFF \
        -DMADX_ONLINE=OFF \
        -DMADX_X11=OFF \
        -DUSE_GC=ON \
        -DBUILD_SHARED_LIBS=OFF \
        -DCMAKE_INSTALL_PREFIX=/usr \
        -DCMAKE_BUILD_TYPE=Release

%: $(MADX_TARBALL)
	dh $@ --buildsystem=cmake

package=debian/libmadx-dev

override_dh_install:
	dh_install
	mv $(CURDIR)/$(package)/usr/bin/ndiff $(CURDIR)/$(package)/usr/bin/numdiff

override_dh_auto_configure:
	dh_auto_configure -- $(FLAGS)

#override_dh_auto_test:
#	echo "Skipping tests"
